html, body {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#content_container {
    width: 30%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 100%;
    background-color: #370617;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;
    overflow: hidden;
}

#form_header_container {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 20;
    background: #000;
}

#tab_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#tab_container button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

#tab_container button.active {
    background-color: #bbb;
}

#form_header {
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: calc(100% - 60px); /* Adjusted for header and button container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.form_content {
    width: 75%;
    display: none; /* Hidden by default */
}

#login_form, #register_form {
    display: block; /* Default display for the current form */
}

input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF) 1;
}

#button_container {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(80deg, #FFBE0B, #FB5607 50%, #FF006E 50%, #8338EC);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#button_container button {
    width: 100%;
    height: 100%;
    background: transparent;
    color: inherit;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

#button_container button:hover {
    background-color: #666;
}
